@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    font-weight: bold;

    background-image: linear-gradient(52deg, rgba(163, 163, 163, 0.09) 0%, rgba(163, 163, 163, 0.09) 33.3%,rgba(100, 100, 100, 0.09) 33.3%, rgba(100, 100, 100, 0.09) 66.6%,rgba(162, 162, 162, 0.09) 66.6%, rgba(162, 162, 162, 0.09) 99%),linear-gradient(258deg, rgba(193, 193, 193, 0.06) 0%, rgba(193, 193, 193, 0.06) 33.3%,rgba(169, 169, 169, 0.06) 33.3%, rgba(169, 169, 169, 0.06) 66.6%,rgba(92, 92, 92, 0.06) 66.6%, rgba(92, 92, 92, 0.06) 99%),linear-gradient(129deg, rgba(45, 45, 45, 0.03) 0%, rgba(45, 45, 45, 0.03) 33.3%,rgba(223, 223, 223, 0.03) 33.3%, rgba(223, 223, 223, 0.03) 66.6%,rgba(173, 173, 173, 0.03) 66.6%, rgba(173, 173, 173, 0.03) 99%),linear-gradient(280deg, rgba(226, 226, 226, 0.06) 0%, rgba(226, 226, 226, 0.06) 33.3%,rgba(81, 81, 81, 0.06) 33.3%, rgba(81, 81, 81, 0.06) 66.6%,rgba(186, 186, 186, 0.06) 66.6%, rgba(186, 186, 186, 0.06) 99%),linear-gradient(85deg, rgba(225, 225, 225, 0.04) 0%, rgba(225, 225, 225, 0.04) 33.3%,rgba(95, 95, 95, 0.04) 33.3%, rgba(95, 95, 95, 0.04) 66.6%,rgba(39, 39, 39, 0.04) 66.6%, rgba(39, 39, 39, 0.04) 99%),linear-gradient(128deg, rgba(184, 184, 184, 0.06) 0%, rgba(184, 184, 184, 0.06) 33.3%,rgba(0, 0, 0, 0.06) 33.3%, rgba(0, 0, 0, 0.06) 66.6%,rgba(140, 140, 140, 0.06) 66.6%, rgba(140, 140, 140, 0.06) 99.89999999999999%),linear-gradient(323deg, rgba(40, 40, 40, 0.07) 0%, rgba(40, 40, 40, 0.07) 33.3%,rgba(214, 214, 214, 0.07) 33.3%, rgba(214, 214, 214, 0.07) 66.6%,rgba(190, 190, 190, 0.07) 66.6%, rgba(190, 190, 190, 0.07) 99.89999999999999%),linear-gradient(61deg, rgba(230, 230, 230, 0) 0%, rgba(230, 230, 230, 0) 33.3%,rgba(241, 241, 241, 0) 33.3%, rgba(241, 241, 241, 0) 66.6%,rgba(55, 55, 55, 0) 66.6%, rgba(55, 55, 55, 0) 99%),linear-gradient(0deg, #2625e3,#0bbaef);
}
nav{
    padding: 40px;
}

.logo h1{
    font-size: 30px;
    text-transform: uppercase;
}
.logo h1 span{
    color: brown;
}

/* navbar button */
.navbar-btn{
    display: inline-block;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 1000;

    box-shadow: 0px 0px 5px black;
}
.navbar-icon{
    position: relative;
}
.navbar-icon, 
.navbar-icon::before,
.navbar-icon::after{
    content: "";
    width: 40px;
    height: 3px;
    background: brown;
    border-radius: 5px;
}
.navbar-icon::before{
    position: absolute;
    top: -12px;
    transition: all .2s ease;
}
.navbar-icon::after{
    position: absolute;
    top: 12px;
    transition: all .2s ease;
}

.navbar-btn:hover .navbar-icon::before{
    top: -15px;
}
.navbar-btn:hover .navbar-icon::after{
    top: 15px;
}

/* navbar background */
.navbar-bg{
    background-image: radial-gradient(skyblue, red);
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;

    position: fixed;
    top: 45px;
    right: 45px;

    transition: all .3s ease;
}

/* navbar checkbox */
.navbar-checkbox{
    display: none;
}
.navbar-checkbox:checked + .navbar-btn .navbar-icon{
    background: transparent;
}
.navbar-checkbox:checked + .navbar-btn .navbar-icon::before{
    transform: rotate(135deg);
    top: 0;
}
.navbar-checkbox:checked + .navbar-btn .navbar-icon::after{
    transform: rotate(-135deg);
    top: 0;
}
.navbar-checkbox:checked ~ .navbar-dropdown{
    width: 100%;
    opacity: 1;
    visibility: visible;
}
.navbar-checkbox:checked ~ .navbar-bg{
    transform: scale(90);
}

/* navbar dropdown */
.navbar-dropdown{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /* width: 100% */
    width: 0;
    visibility: hidden;
    opacity: 0;

    transition: all .2s ease;
}
.navbar-list{
    list-style: none;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}
.navbar-list a{
    font-size: 30px;
    text-decoration: none;
    color: #000;
    padding: 20px;
    display: inline-block;
}
.navbar-list a:hover{
    transform: translateX(15px);
    color: white;
}
